@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@600&display=swap");

/*             Scrollbar             */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 1);
  /* transition: 1s; */
  /*border-radius: 5px;*/
}

::-webkit-scrollbar-thumb {
  outline: 0.5px solid gray;
  /* background: rgb(31, 31, 31, 0.4);
  transition: 1s; */
  /*border-radius: 5px;*/
}

body {
  position: absolute;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #131316;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  user-select: none;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  padding: 0;
  margin-top: 50vh;
  height: 250px;
  background-color: #323232;
  background: linear-gradient(126deg, rgba(75, 193, 236, 0.1) 0%, rgba(31, 31, 31, 0.1) 100%);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

.title {
  margin: 100px;
  margin-bottom: 80vh;
  font-size: 130px;
  background: -webkit-linear-gradient(#eee, #323232);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
